<!-- Express Portfolio-->
<!-- File Name: index.ejs-->
<!-- Author: Minseok Choi-->
<!-- StudentID: 300917184-->
<!-- Date: 02/16/2019-->

<% include ./partials/header.ejs %>

<header class="masthead text-white d-flex">

  <div class="container my-auto" style="width: 80%;">
    <div class="col-lg-4 mx-auto text-center">
      <img alt="" class="img-profil" src="assets/images/profil.png">
      <hr>
    </div>
    <div class="col-lg-8 mx-auto text-faded ">
      <br />
      <h1><strong>Hello, I'm Min :)</strong></h1>
      <h3>I'm a Web and Mobile app developer. </h3>
      <h3 class="mb-5">I've wanted to see you. </h3>
      <h4 class="mb-5">For a convenience of all the people, for a contribution to the development, and for the fun, so I write code.</h4>
      <div class="text-center">
      <a class="btn btn-primary btn-xl" href="about">
        About Me</a>
      </div>

    </div>
  </div>

</header>

<% include ./partials/footer.ejs %>